
body {
    --red: #D74B4B;
    --yellow: #DEDE00;
    --orange: #E18314;
    --green: #0D875E;
    --blue: #1D75D7;
    --purple: #7D3DAF;
    --white: #FFFFFF;
    --grey: #333333;
    --black: #000000;

    --header-background: #37474F;

    background-image: url(../img/D.jpg);
    background-size: cover;
    background-attachment: fixed;

    color: var(--black);
    font-family: "Roboto Slab", Roboto, sans-serif;

    padding: 0;
    margin: 0;
}

header {
    background: var(--header-background);
    color: var(--white);

    padding: 2.5rem;
}

header h1.site-name {
    padding: 0;
    margin: 0;

    font-size: 3rem;
    text-align: center;
}

#navigation {
    width: 50%;
    background: rgba(0, 0, 0, .2);
}

#navigation a {
    color: var(--white);
    opacity: .7;
}

#navigation a:hover {
    opacity: 1;
}

h2.section-title{
    text-align: center;
    color: var(--grey);
    opacity: .85;
    font-size : 1.5rem;
    padding : 1rem 1.4rem;
}
